@page "/http-client"
@using System.Net
@inject IHttpClientFactory ClientFactory

@using Microsoft.FluentUI.AspNetCore.Components.Icons.Regular

<PageTitle>HTTP Client</PageTitle>

<h1>HTTP Client</h1>

<p role="status">Status: @status</p>

<!--
Bootstrap or HTML button
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
-->
    <FluentButton
        id="button_download"
        OnClick="@HttpRequest"
        Loading="@downloading"
        IconEnd="@(new Size20.Globe())"
        Appearance="Appearance.Accent"
        Autofocus="true"
        >
        Calculate
    </FluentButton>

<p role="status">Response: @response</p>

@code 
{
    string status = "";
    string response = "";
    bool downloading = false;

    private async Task HttpRequest()
    {
        status = "Request started...";
        downloading = true;
        string url =

                    //"https://universities.hipolabs.com/search?country=Croatia" 
                    "http://universities.hipolabs.com/search?country=Croatia" 
                    //"https://universities.hipolabs.com/search?country=Croatia" 
                    //"https://api.example.com/data"
                    ;
        try
        {
            /*
            was loaded over HTTPS, but requested an insecure resource 
            This request has been blocked; the content must be served over HTTPS.

            using (System.Net.Http.HttpClient client = new())
            {
                HttpResponseMessage httpResponse = await client.GetAsync(url);
                httpResponse.EnsureSuccessStatusCode();
                response = await httpResponse.Content.ReadAsStringAsync();
                status = "Request finished successfully.";
                // code inside the using block
            }
            */

            var client = ClientFactory.CreateClient();

            var url_encoded = WebUtility.UrlEncode(url);

            using var request = new HttpRequestMessage
                                        (
                                            HttpMethod.Get,
                                            // $"https://api.cors.lol/?url={url_encoded}"
                                            $"https://corsproxy.io/?{url_encoded}"
                                        );

            HttpResponseMessage http_response = await client.SendAsync(request);
            response = await http_response.Content.ReadAsStringAsync();
        }
        catch (Exception ex)
        {
            status = $"Request failed: {ex.Message}";
        }
        finally
        {
            downloading = false;
        }
    }
}
